@use "../../foundation"as f;

.c-bg {
    &--white {
        background-color: f.$color--white;
    }

    &--lightCream {
        background-color: f.$bgcolor--lightCream;
    }

    &__rgba {
        &--board {
            background-color: f.$bgrgba--board;
        }
    }

    &__bra {
        &--beige {
            background: linear-gradient(f.$gracolor--beige-A, f.$gracolor--beige-B);
        }

        &--shadow64 {
            background: linear-gradient(f.$grargba--shadow-A 0%, f.$grargba--shadow-A 60%, f.$grargba--shadow-B 60%, f.$grargba--shadow-B 100%);

            @include f.mq-up(tab) {
                background: f.$grargba--shadow-A;
            }
        }
    }

    &__img {
        &--brownWall {
            background-image: url(../images/brownWall.png);
        }

        &--burgerOnTable {
            background-image: url(../images/card--burgerOnTable.png);
        }

        &--map {
            background-image: url(../images/map--sp.png);
        }

        &--burgerAndFrenchFries {
            background-image: url(../images/card--burberAndfrenchFries.png);
        }
    }

    &__mainvisual {
        &--frontPage {
            background-image: url(../images/mainvisual__frontPage--sp.png);

            @include f.mq-up(tab) {
                background-image: url(../images/mainvisual__frontPage--tab.png);
            }
        }
    }
}