@use "../../global"as g;

.c-btn {
    &__close {
        width: 32px;
        height: 32px;
        cursor: pointer;

        span {
            display: block;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                right: 50%;
                top: 50%;
                width: 45px;
                height: 6px;
                background-color: g.$color--gray;
            }

            &::before {
                transform: translate(50%, 50%) rotate(45deg);
            }

            &::after {
                transform: translate(50%, 50%) rotate(-45deg);
            }
        }
    }
}