@use "../../global"as g;

.c-card {
    margin: 10px 0 10px;
    height: 642px;

    &__flex {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__ttl {
        font-size: 4.1rem;
        font-family: g.$font--roboto;
        color: g.$color--warmwhtie;
        position: relative;

        &::after {
            content: "";
            width: 34px;
            height: 4px;
            display: inline-block;
            background-color: g.$color--white;
            position: absolute;
            bottom: -19.3px;
            left: 0;
        }
    }

    &__heading {
        font-size: 2.2rem;
        font-family: g.$font--Mplus-Bold, g.$font--Mplus-j-Bold;
    }

    &__txt {
        line-height: 1.4375;
    }
}