@use "../../global"as g;

.c-mainvisual {
    height: 285px;
    display: flex;
    align-items: center;
    background-size: cover;
    color: g.$color--white;

    &__ttl {
        font-size: 3.6rem;
        font-family: g.$font--Mplus-j-Bold;
        font-weight: bold;
    }
}