@use "../../global"as g;

.c-map {
    font-family: g.$font--Mplus-Bold, g.$font--Mplus-j-Bold;
    color: g.$color--white;

    &__heading {
        font-size: 3rem;
    }

    &__txt {
        height: 518px;
        font-size: 1.4rem;
        line-height: 3.3rem;
        overflow: hidden;
    }
}