@use "../../foundation"as f;

.c-txtColor {
    &--white {
        color: f.$color--white;
    }

    &__gray {
        color: f.$color--gray;
    }

    &--brown {
        font-size: f.$color--brown;
    }
}