// color

$color--white: #FFF;
$color--gray: #707070;

// background-color

$bgcolor--header: #FFF7EF;

// gradation-color

$gracolor--seach__submit-A: #F2EDE9;
$gracolor--seach__submit-B: #DED8D3;
$gracolor--cream-A: #F2EDE9;
$gracolor--cream-B: #DED8D3;

// font-family

$font--roboto: 'Roboto',
sans-serif;
$font--Mplus-Bold: 'M+ M Type-1 (basic latin) Bold';
$font--Mplus-j-Bold: 'M+ Type-1 (general-j) Bold';