@use "../../foundation"as f;

.p-archive {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    @include f.mq-up(tab) {
        flex-direction: row;
    }

    &__img {
        width: 100%;
        height: auto;
        background-position: center center;

        @include f.mq-up(tab) {
            width: 50%;
        }
    }

    &__inner {
        padding: 30px 17px 43.7px;

        @include f.mq-up(tab) {
            width: 50%;
            padding: 30px 35px 40px;
        }
    }

    &__ttl {
        font-size: 2rem;
        padding-bottom: 24px;
    }

    &__txt {
        padding-top: 10px;
        padding-right: 16.7%;

        @include f.mq-up(tab) {
            padding-right: 8%;
        }
    }
}