@use "../../global"as g;

.p-banner {
    &--frontpage {
        background-image: url(../../images/banner__front-page--sp.png);
        background-position: center center;
    }

    &__ttl {
        margin-left: 2.5rem;
    }
}