@use "../../foundation"as f;

.p-blockquote {
    padding: 30px 18px;

    @include f.mq-up(tab) {
        padding: 50px 50px 60px;
    }

    &__cite {
        padding-top: 30px;

        cite a {
            font-style: normal;
            text-decoration: underline;
        }
    }
}