@use "../../global"as g;

.p-card {
    margin: 20px 0 10px;
    height: 642px;
    background-size: cover;

    &__inner {
        margin: 0 10px;
    }

    &__ttl {
        font-size: 4.1rem;
        color: g.$color--warmwhtie;
        position: relative;
        margin-top: 11px;

        &::after {
            content: "";
            width: 34px;
            height: 4px;
            display: inline-block;
            background-color: g.$color--white;
            position: absolute;
            bottom: -19.3px;
            left: 0;
        }
    }


    &__board {
        color: g.$color--brown;
        height: 164px;
        overflow-wrap: break-word;
        margin-bottom: 10px;
    }

    &__heading,
    &__txt {
        padding-top: 19px;
    }

    &__heading {
        font-size: 2.2rem;
    }

    &__txt {
        line-height: 1.4375;
    }
}