@use "../../foundation"as f;

.p-card {
    min-height: 642px;
    margin: 20px 0 10px;
    padding: 0 10px;
    background-size: cover;

    &__ttl {
        font-size: 4.1rem;
        color: f.$color--warmwhtie;
        position: relative;
        margin: 11px 0 45px;

        &::after {
            content: "";
            width: 34px;
            height: 4px;
            display: inline-block;
            background-color: f.$color--white;
            position: absolute;
            bottom: -19.3px;
            left: 0;
        }
    }


    &__board {
        color: f.$color--brown;
        min-height: 164px;
        overflow-wrap: break-word;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    &__heading,
    &__txt {
        padding-top: 19px;
    }

    &__heading {
        font-size: 2.2rem;
    }

    &__txt {
        line-height: 1.4375;
    }
}