@use "../../foundation"as f;

.p-card {
    min-height: 642px;
    margin: 20px 0 10px;
    padding: 0 10px;
    background-size: cover;

    @include f.mq-up(tab) {
        width: calc(50% - 20px);
        min-height: 680px;
        margin: 0;
    }

    @include f.mq-up(pc) {
        width: calc(50% - 2vw);
        min-height: 62vw;
        margin: 0;
        padding: 0 20px;
    }

    &__ttl {
        font-size: 4.1rem;
        color: f.$color--warmwhtie;
        position: relative;
        margin: 11px 0 45px;

        @include f.mq-up(tab) {
            font-size: 4.4rem;
        }

        @include f.mq-up(pc) {
            font-size: 4vw;
            margin: 20px 0 100px;
        }

        &::after {
            content: "";
            width: 34px;
            height: 4px;
            display: inline-block;
            background-color: f.$color--white;
            position: absolute;
            bottom: -19.5px;
            left: 0;

            @include f.mq-up(tab) {
                width: 36px;
            }

            @include f.mq-up(pc) {
                width: 63px;
                bottom: -34.5px;
            }
        }
    }

    &__board {
        color: f.$color--brown;
        min-height: 164px;
        overflow-wrap: break-word;
        margin-bottom: 10px;
        padding: 0 10px;

        @include f.mq-up(tab) {
            min-height: 172px;
        }

        @include f.mq-up(pc) {
            min-height: 174px;
            margin-bottom: 20px;
            padding: 0 20px;
        }
    }

    &__heading {
        font-size: 2.2rem;
        padding-top: 20px;

        @include f.mq-up(tab) {
            font-size: 2.4rem;
        }

        @include f.mq-up(pc) {
            padding-top: 26px;
        }
    }

    &__txt {
        line-height: 1.4375;
        padding-top: 20px;
    }
}