@use "../../foundation"as f;

.p-mainvisual {
    height: 285px;
    background-position: center center;

    @include f.mq-up(pc) {
        height: 530px
    }

    &__shadowScreen {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__ttl {
        font-size: 3.6rem;
        margin-left: 2.5rem;

        @include f.mq-up(tab) {
            margin-left: 8.5rem;
        }

        @include f.mq-up(pc) {
            font-size: 4rem;
        }

        &--archive {
            margin-left: 3.7rem;
        }
    }

    &__subttl {
        font-size: 1.6rem;
    }
}