@use "../../foundation"as f;

.p-map {
    background-position: center center;
    background-size: cover;
    color: f.$color--white;
    margin-top: 50px;

    @include f.mq-up(tab) {
        margin-top: 0;
    }

    &__inner {
        padding-top: 40px;
        margin: 0 42px;
    }

    &__minHeight {
        min-height: 690px;

        @include f.mq-up(tab) {
            min-height: 415px;
        }
    }

    &__heading {
        position: relative;
        font-size: 3rem;
        margin-bottom: 30px;

        &::after {
            content: "";
            width: 75px;
            height: 2px;
            display: inline-block;
            background-color: f.$color--white;
            position: absolute;
            bottom: -20px;
            left: 0;
        }
    }

    &__txt {
        font-size: 1.4rem;
        line-height: 3.3rem;
        padding-bottom: 50px;
    }
}