@use "../../foundation"as f;

.p-searchForm {
    position: relative;
    font-size: 2.0rem;
    max-width: 100%;
    padding-right: 121px;
    margin: 38px 0px 40px 31px;

    @include f.mq-up(tab) {
        padding-right: 294px;
        margin: 38px 0px 40px 144px;
    }

    @include f.mq-up(pc) {
        width: 37%;
        min-width: 430px;
        padding-right: 180px;
        margin: 0;
    }

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 16px;
        top: 11px;
        width: 24px;
        height: 24px;
        background: url(../images/seach-icon.png) no-repeat center center / auto 100%;

        @include f.mq-up(tab) {
            left: 12px;
        }
    }

    &__keyword {
        height: 46px;
        width: 100%;
        padding-left: calc(30px + 1.5rem);
        margin-right: 12px;

        @include f.mq-up(tab) {
            margin-right: 14px;
        }

        @include f.mq-up(pc) {
            margin-right: 0.75%;
        }
    }

    &__submit {
        position: absolute;
        right: 31px;
        top: 0;
        width: 78px;
        height: 46px;
        line-height: 2;
        color: f.$color--gray;
        font-size: 1.6rem;

        @include f.mq-up(tab) {
            right: 144px;
            width: 136px;
        }

        @include f.mq-up(pc) {
            right: 31px;
        }
    }
}