@use "../global"as g;

.l-footer {
    background-image: url(../images/footer__bg.png);
    background-repeat: repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: g.$color--white;
}