@use "../foundation"as f;

.l-sidemenu {
    position: relative;
    left: 100%;
    width: 100%;
    height: 100%;

    @include f.mq-up(pc) {
        position: static;
    }

    &.slideIn {
        position: fixed;
        left: 0;
        top: 0;
        overflow-y: scroll;
        transition: f.$transtime--slide;
    }

    &.slideOut {
        position: relative;
        left: 100%;
        transition: f.$transtime--slide;
    }
}