@use "mixin"as m;
@use "variables"as v;

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    min-width: 320px;
    width: 100%;

    background-color: v.$color--white;
    font-size: 1.6rem;
    font-family: 'M+ M Type-1 (basic latin) Regular', 'M+ Type-1 (general-j) Regular';
    color: v.$color--gray;
    line-height: 1.5;
    overflow-x: hidden;
    overscroll-behavior: none;
}

aside {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

h4,
h5,
h6 {
    font-size: 2rem;
}

ul,
ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}